/*
	CST 336 HW 1
	By: Patrick Gonzlaez
	6/18/18
*/

/*main body /////////////////////////////////////////////////*/
body{
	background-color: #85D65C;
	color: black;
	border: 25px solid yellow;
	
}

h1{
	font-family: 'Abril Fatface', cursive;
}

header, nav, footer{
	text-align: center;
}

hr{
	width: 50%;
	color: white
}

#img{
	text-align: center;
}

#topic{
	margin-left:100px;
	margin-right: 100px;
	text-align: justify;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

/*navigation bar style ////////////////////////////////////////////*/
nav a{
	padding: 15px;
	padding-bottom:4px;
    font-size: 1.2em;
    text-decoration: none; /* removes underline */
	background-color: rgb(250,221,0,0.5);
	color: black;
	width: 100%;
	font-family: 'Playfair Display', serif;
}
nav a:hover{
	border-bottom: 2px green solid;
	font-size: 1.8em;
	transition: .9s;
}

#current-page{
	background-color: green;
	color: white;
}
/* footer //////////////////////////////////////////////////////*/
footer, #hr_footer, #csumb{
	color: white;
	font: 12px;
}

#hr_footer{
	width: 25%;
}