body{
	background-image:url("../img/music-background.jpg");
    width: 100%;
	background-position: right;
	background-repeat: repeat-y;
}

#grad1 {
    height: 100px;
    background: blue; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, rgb(39, 170, 221), white); /* Standard syntax (must be last) */
}

header{
	text-align: center;
	font-family: 'Concert One', cursive;
	font-size: 40px;
}

form{
   
	font-family: 'Concert One', cursive;
	color: black;
	text-align: left;
	font-size: 30px;
	text-shadow: 0.5px 0.5px 1px gold;
	

}

#results{
	font-family: 'Concert One', cursive;
	color: black;
	text-align: left;
	font-size: 30px;
}
footer, #hr_footer, #csumb{
	color: black;
	font: 12px;
	text-align: center;
}

#hr_footer{
	width: 25%;
}
